body {
	background-color: lightgray;
	margin: auto;
	max-width: 700px;
}

#title {
	background-color: black;
	color: white;
	border-radius: 5px;
	text-align: center;

}

img {
	width: 100%;
	max-width: 512px;
	border-radius: 5px;
	height: auto;
	display: block;
	margin: auto;
}

li:hover {
	background-color: lightgray;
	border-radius: 3px;
}
